---
import AuthLayout from "../layouts/AuthLayout.astro";
import { PasswordRecoveryForm } from "../components/auth/PasswordRecoveryForm";
---

<AuthLayout title="Recover Password">
  <div class="py-8">
    <h1 class="text-3xl font-bold text-center mb-8">Recover Account Access</h1>
    <PasswordRecoveryForm client:load />
  </div>
</AuthLayout>
