---
import AuthLayout from "../layouts/AuthLayout.astro";
import { PasswordResetForm } from "../components/auth/PasswordResetForm";
---

<AuthLayout title="Reset Password">
  <div class="py-8">
    <h1 class="text-3xl font-bold text-center mb-8">Set New Password</h1>
    <PasswordResetForm client:load />
  </div>
</AuthLayout>
